:root {
  /* fonts */
  --main-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Montserrat', sans-serif;
  --heading-font-serif-1: 'Playfair Display', serif;
  --heading-font-serif-2: 'Lora', serif;

  /* color palette */
  --blue: #90C3D4;
  --azureish-white: #d6efff;
  --peach-orange-dark: #fed18c;
  --peach-orange-light: #fed99b;
  --tomato: #fe654f;
  --text-icons-white: #FFFFFF;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;

  --almost-white: #f7f7f7;
  --gray-darker: #696969;
  --gray: #ccc;
  --gray-lighter: #E8E8E8;
  --gray-lightest: #F0F0F0;
  --almost-black: #282828;

  /* sizes */
  --space: 1rem;

  /* font-weights */
  --light: 300;
  --medium: 600;
  --heavy: 900;

  /* transitions */
  --smooth: ease-in-out 0.25s;
  --smooth-delay:  0.5s ease-in-out 0.15s;
  --smooth-border: border 0.5s ease-in-out;

  /* box-shadows */
  --smooth-light-shadow: 0 2px 4px var(--almost-white), 0 2px 4px rgba(0,0,0,0.1);
  --smooth-lighter-shadow: 0 0 4px var(--almost-white), 0 4px 4px rgba(0,0,0,0.07);
  --smooth-dark-shadow: 0 1.5rem 2rem rgba(0,0,0,0.1), 0 0 2rem rgba(0,0,0,0.1);
  --smooth-big-dark-shadow: 0 4px 100px var(--almost-white), 0 4px 100px rgba(0,0,0,0.5);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}

body {
  display: grid;

  /* rows | columns */
  grid-template: repeat(20, 1fr) / repeat(20, 1fr);
  grid-gap: 0;
  width: 100vw;
  height: 100vh;
  background: var(--almost-white);
}

h1 {
  margin-top: 0;
  font-family: var(--heading-font-serif-2);
  font-size: 3vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--almost-black);
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.04); */ /* https://envato.com/blog/css3-typography-code-snippets/ */
  -webkit-font-smoothing: subpixel-antialiased;
}





main {
  grid-area: 2 / 2 / span 18 / span 18; /* row-start, col-start, row-end, col-end */
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  z-index: 2;
  transform: scale(1.05, 1.025);
  /* box-shadow: var(--smooth-dark-shadow); */
}





#nav-top {
  grid-area: 2 / 2 / span 1 / span 18;
  background: transparent;
  z-index: 3;
  /* border-bottom: 0.05rem solid var(--almost-white); */
}

#nav-bottom {
  grid-area: 19 / 2 / span 1 / span 18;
  background: transparent;
  z-index: 3;
  /* border-top: 0.05rem solid var(--almost-white); */
}

#nav-left {
  grid-area: 6 / 2 / span 10 / span 1;
  background: transparent;
  z-index: 3;
  border-right: 0.05rem solid var(--almost-white);
}

#nav-right {
  grid-area: 6 / 19 / span 10 / span 1;
  background: transparent;
  z-index: 3;
  border-left: 0.05rem solid var(--almost-white);
}

#nav-top ul,
#nav-bottom ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: inherit;
  font-family: var(--main-font-family);
  font-size: 1.2vw;
  font-weight: var(--medium);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5rem;
  color: var(--almost-white);
  -webkit-font-smoothing: subpixel-antialiased;
  list-style-type: none;
  transition: var(--smooth);
}

#nav-top ul li,
#nav-bottom ul li {
  flex: 1 1 auto; /* grow shrink basis */
  padding: 1.5rem 0 1.5rem 0;
  transition: var(--smooth-delay);
  background: transparent;
}

#nav-top ul li:first-child,
#nav-bottom ul li:first-child {
  flex: 1 0 auto;
  background: transparent;
}

#nav-top ul li:nth-child(2) {
  flex: 12 1 auto;
  background: transparent;
}

#nav-bottom ul li:nth-child(4) {
  flex: 12 1 auto;
  background: transparent;
}

#nav-top ul li:hover,
#nav-bottom ul li:hover {
  transform: translateY(-0.4rem);
}

#nav-top ul li a,
#nav-bottom ul li a {
  font-size: inherit;
  text-decoration: inherit;
  color: inherit;
  transition: var(--smooth);
}

#nav-top li a:hover,
#nav-bottom li a:hover {
  color: var(--azureish-white);
}





.behind {
  grid-area: 1 / 1 / span 20 / span 20;
  background: var(--almost-white);
  z-index: 1;
}

.center {
  grid-area: 7 / 7 / span 8 / span 8;
  background: var(--almost-white);
  z-index: 3;
  /* box-shadow: var(--smooth-light-shadow); */
}

.top-blob {
  grid-area: 5 / 14 / span 3 / span 3;
  background: no-repeat center/100% url("images/Abstract Sky for iPhone X.PNG.jpg");
  z-index: 4;
  width: 20rem;
  height: 20rem;
  margin-right: 4rem;
  border-radius: 100%;
  transition: var(--smooth-delay);
  display: none;
}

.bottom-blob {
  grid-area: 11 / 5 / span 3 / span 3;
  background: no-repeat center/100% url("images/Abstract Sky for iPhone X.PNG.jpg");
  z-index: 4;
  width: 30rem;
  height: 30rem;
  margin-left: 4rem;
  border-radius: 100%;
  transition: var(--smooth-delay);
  display: none;
}

.top-blob:hover,
.bottom-blob:hover {
  box-shadow: var(--smooth-dark-shadow);
  transform: translateY(-1rem) rotate(10deg) scale(1.15);
}

.h1 {
  grid-area: 10 / 5 / span 2 / span 12;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: transparent;
  transform: translateX(0rem);
  z-index: 3;
  border: 0.05rem solid var(--almost-white);
}

.gradient-border {
  grid-area: 10 / 7 / span 2 / span 8;
  z-index: 3;
  border-top: 0.1rem solid #FAACA8;
  border-bottom: 0.1rem solid #DDD6F3;
  border-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  border-image-slice: 1;
}
